.todoActivity {
  display: flex;
  height: 50px;
  font-size: 1.1rem;
  background: hsl(235, 24%, 19%);
  border-bottom: 1px solid #50577A;
  padding: 12px;
}

#todoActivityTitle {
  margin-left: 30px;
  font-size: 20px;
}

.doneActivity {
  color: red;
}
