#todoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 600px;
  min-width: 400px;
  padding-left: 12px;
  padding-right: 12px;
}

.title {
  margin-bottom: 24px;
  color: white;
  letter-spacing: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.container {
  background: hsl(235, 24%, 19%);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
}